
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; {{ .Site.Params.copyright }}. Design: <a href="https://html5up.net">HTML5 UP</a>. Powered by <a href="https://www.gohugo.io/">Hugo.</a></p>
					</footer>

			</div>
		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{{ relURL "/js/skel.min.js" }}"></script>
			<script src="{{ relURL "/js/util.js" }}"></script>
			<script src="{{ relURL "/js/main.js" }}"></script>
			{{ template "_internal/google_analytics_async.html" . }}

	</body>
</html>
